@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

#console-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; 
}
#console-container #console-sidebar-container {
min-width: 300px;
width: auto;
height: 100vh;
position: relative; }
#console-container #console-sidebar-container #header-container {
position: fixed;
width: 300px; }
#console-container #console-sidebar-container #header-container h1 {
padding: 9px;
margin: 0px;
text-align: center;
background-color: white;
z-index: 2; }
#console-container #console-sidebar-container #header-container:after {
content: "";
width: 100%;
height: 0;
display: block;
position: absolute;
z-index: -1;
box-shadow: 0px 0px 8px 2px #000000;
opacity: 0.5; }
#console-container #console-sidebar-container #sidebar-list-container {
margin-top: 43px;
overflow: scroll;
height: calc(100vh - 43px); }
#console-container #console-sidebar-container #sidebar-list-container ol {
margin: 0;
padding-left: 0;
list-style-type: none; }
#console-container #console-sidebar-container #sidebar-list-container ol li > div {
padding: 9px;
background-color: white;
transition: all ease-in-out 0.1s;
border-bottom: 1px solid lightgray; 
}
#console-container #console-sidebar-container #sidebar-list-container ol li:hover > div {
background-color: lightgray; 
}
#console-container #console-sidebar-container #sidebar-list-container ol li.danger-confirmed {
background-color: red;
color: white; 
}
#console-container #console-sidebar-container #sidebar-list-container ol li.danger-confirmed:hover {
background-color: darkred; 
}
#console-container #console-sidebar-container #sidebar-list-container ol li.danger-alert-focused {
transform: scale(1.01);
}
#console-container #console-sidebar-container #sidebar-list-container ol li.danger-alert-focused div {
border-bottom: none; 
}
#console-container #console-sidebar-container #sidebar-list-container ol li.danger-alert-focused div:after {
content: "";
width: calc(100% + 10px);
height: 100%;
display: block;
position: absolute;
top: 0;
left: -5px;
z-index: -1;
box-shadow: 0px 0px 8px 4px #000000;
opacity: 0.5;
}
#console-container #map-container {
height: 100%;
width: 100%;
max-width: calc(100% - $sidebar-width); 
}
#console-container #map-container #map {
height: 100%;
width: 100%; 
}


